#pe_control-panel-btn {
    position: absolute;
    height: 30px;
    width: 32px;
    top: 288px;
    z-index: 15;
    padding: 0;
    cursor: pointer;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAeCAYAAABNChwpAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAANpJREFUeNrslr0NwyAQhY8kRTrEALigtieg9E4oEjWLuPIi3oApqOIJnBxSpETCDhBFNPcakDj0Pn6egCmlOADcoZFO0FgEQAAEcCmdoLWGvu+TY+u6wjzP/wVAc2NMcmxZll2AbduAMdbuCFLmdAkJIDsFGL2Xuq7breOcf9R672M0fwaQUoJzLiui0zTFPsYRY/lNZyHE9dnejopwJSEEGMcxa1vR3FqbVZsFUAJRYl4EkANRal4McARRY14FkIKoNa96jN5XjBqGodo8vhH0LScAAmgN8BBgALa+WJ5I3jxIAAAAAElFTkSuQmCC);  
}

#pe_control-panel {
    position: absolute;
    width: 845px;
    top: 288px;
    left: 1px;
    z-index: 12;
    padding: 0;
    height: 292px;
}

#pe_version-box {
    position: absolute; 
    padding: 0;
    display: block;
    left: 40px;
    top: 8px;
    vertical-align: middle;
}

#pe_userlist-box {
    position: absolute; 
    width: 230px; 
    height: 270px; 
    padding: 0px;
    display: block;
    left: 600px;
    top: 10px
}

#pe_userlist-header {
    top: 0;
    left: 0;
    width: 216px;
}

#pe_userlist-count {
    float: right;
    position: relative;
    color:#BBB;
    font-size:11px;
}

#pe_userlist-body {
    top: 25px; 
    height: 240px; 
    width: 100%; 
    border: 1px solid #333; 
    position: absolute; 
    overflow-y: auto; 
    overflow-x: hidden; 
}

#pe_userlist-table {
    width: 100%;
    border-spacing: 0 1px;
}

.pe_control-btn {
    position: absolute; 
    width: 90px; 
    height: 25px; 
    padding: 0;
    display: block;
    left: 20px;
    text-align: center;
    border: 1px solid #AAA;
    cursor: pointer;
}

#pe_autowoot-btn {
    top: 65px;
}

#pe_autojoin-btn {
    top: 100px;
}

.pe_user-row {
    height: 20px;
}

.pe_woot {
    background-color: rgba(0,255,0,.2);
}

.pe_meh {
    background-color: rgba(255,0,0,.2);
}

.pe_dj {
    background-color: rgba(0,214,255,.2);
}

.pe_user-row:hover {
    background-color: #888;
}

.pe_user-cell-name {
    padding: 0;
    max-width: 160px;
    overflow-x: hidden;    
}

.pe_user-cell-extra {
    width: 45px;   
    text-align: right;
}

#pe_user-detail-box {
    top: 10px;
    left: 320px;
    position: absolute;
    width: 260px;
    height: 270px;
    padding: 0;
}

#pe_user-detail-header {
    top: 0;
    left: 0;
    width: 216px;
}

#pe_user-detail-body {
    width: 100%;
    border: 1px solid #333;
    top: 25px;
    height: 240px;
    position: absolute;
    background-color: rgba(30, 30, 30, .3);
}

.pe_role-admin {
    color: #42a5dc;
}

.pe_role-ambassador {
    color: #9a50ff;
}

.pe_role-moderator {
    color: #e90e82;
}

.pe_role-none {
    color: #B0B0B0;
}

.pe_role-you {
    color: #ffdd6f;
}